
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --color1: #F9FAF8;
    --color2: #1F2937;
    --color3: #E5E7EB;
    --color4: #3882f6;
    --font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font);
}

header {
    background-color: var(--color2);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.nav-right ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--color3);
    font-size: 18px;
}

.nav-left {
    color: var(--color1);
    font-size: 24px;
    font-weight: 700;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.473);
    width: 475px;
    height: 250px;
    color: var(--color1);
}

.hero-left {
    width: 475px;
    height: 250px;
    padding-right: 28px;
    box-sizing: border-box;
}

.hero-left h1 {
    color: var(--color1);
    font-size: 48px;
    font-weight: 900;
}

.hero-left p {
    color: var(--color3);
    font-size: 18px;
}

.hero-left button {
    color: var(--color1);
    background-color: var(--color4);
    padding: 10px 32px;
    margin-top: 10px;
    border-radius: 8px;
}


/* main content of page */
/* info-section */

.info-section {
    height: 70vh;
    text-align: center;
}

.infos {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info {
    width: 150px;
    height: auto;
}

.info div {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border: 4px solid var(--color4);
    border-radius: 16px;
    margin-bottom: 5px;
}

.info-section h3 {
    font-size: 36px;
    color: var(--color2);
    font-weight: 900;
    margin: 40px 0px;
}